{% assign skills = site.data.cv.[page.lang].skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="cv-softwareset">
    <h3 class="title">{{ site.data.translations['softwareTools'][page.lang] }}</h3>
    {% for soft in skills.softwareset %}
    <div class="item">
      <span class="level-title">{{ soft.category }}: </span>
      <span>{{ soft.tagline }}</span>
    </div><!--//item-->
    {% endfor %}
  </div>

  <div class="cv-operativesystemsset">
    <h3 class="title">{{ site.data.translations['operativeSystems'][page.lang] }}</h3>
    {% for soft in skills.operativesystemsset %}
    <div class="item">
      <span>{{ soft.name }}</span>
    </div><!--//item-->
    {% endfor %}
  </div>

  <div class="cv-skillset">

    <h3 class="title">{{ site.data.translations['proficiency'][page.lang] }}</h3>

    {% for skill in skills.toolset %}
    <div class="item">
      <h3 class="level-title">{{ skill.name }}</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
